* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  --light-color: rgb(145, 145, 145);
  --dark-color: rgb(0, 0, 0);
  --switch-color: rgba(0, 0, 0, 0.6);
  --switch-light-color: rgba(0, 0, 0, 0.4);
  --Button-light-color: rgb(111, 0, 255);
  --Button-dark-color: yellowgreen;
  transition: all 0.5s ease-out;
  /* overflow: hidden; */
}

body.dark {
  --light-color: rgb(0, 0, 0);
  --dark-color: rgb(197, 197, 197);
  --switch-color: rgba(255, 255, 255, 0.8);
  --switch-light-color: rgba(255, 255, 255, 0.5);
  --Button-light-color: yellowgreen;
  --Button-dark-color: rgb(111, 0, 255);
}

.darkmode {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  text-align: center;
}

::placeholder {
  color: var(--switch-light-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 100px;
  box-shadow: 0 2px 10px var(--Button-light-color);
}

h1 {
  font-weight: 200;
  font-size: 45px;
  color: var(--Button-light-color);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    text-shadow: -2px -2px 0 #2943d1, 2px 2px 0 #f00;
  }

  25% {
    text-shadow: 2px 2px 0 #2943d1, -2px -2px 0 #f00;
  }

  50% {
    text-shadow: 2px -2px 0 #2943d1, -2px 2px 0 #f00;
  }

  75% {
    text-shadow: -2px 2px 0 #2943d1, 2px -2px 0 #f00;
  }

  100% {
    text-shadow: 2px 2px 0 #2943d1, -2px -2px 0 #f00;
  }
}

h3 {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
}

p {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
}

input {
  background-color: transparent;
  outline: none;
  width: 300px;
  height: 50px;
  margin: 10px;
  font-size: 30px;
  font-weight: 200;
  border: none;
  border-bottom: 1px solid var(--dark-color);
  color: var(--dark-color);
}

.inputError {
  color: red;
  border-bottom: 1px solid red;
}

.inputSuccess {
  color: var(--Button-light-color);
  border-bottom: 1px solid var(--Button-light-color);
}

.btn {
  background-color: transparent;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid var(--switch-color);
  color: var(--dark-color);
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--Button-light-color);
  color: var(--Button-light-color);
  transform: translateY(-5px);
  transition: all 0.5s;
}

.sidebar-btn {
  background-color: transparent;
  color: var(--Button-light-color);
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  text-align: center;
  position: absolute;
  left: 50px;
  padding-bottom: 5px;
  display: none;
}

.sidebar-btn.hide {
  display: block;
}

.sidebar-btn:hover {
  color: var(--Button-light-color);
}

aside.side-bar {
  width: 250px;
  height: 200vh;
  transform: translateX(-150%);
  transition: 0.2s;
  position: absolute;
  top: 0;
  background-color: var(--light-color);
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  box-shadow: 0 5px 10px var(--Button-light-color);
}

aside.side-bar.open {
  transform: none;
}

body.show .modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.quest {
  width: 450px;
  height: 200px;
  margin: 300px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalbtns {
  display: flex;
  flex-direction: column;
}

.loginbox,
.signupbox,
.findIdBox,
.findPsBox,
.noticeAddBox,
.AddAnswerBox {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 10;
  display: none;
}

.loginbox.open,
.signupbox.open,
.findIdBox.open,
.findPsBox.open,
.noticeAddBox.open,
.AddAnswerBox.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 20px;
}

.modalbtnsBox.hide {
  display: none;
}

.MainLoginBox.hide {
  display: none;
}

h2 {
  font-weight: 200;
  padding-bottom: 50%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 200px;
  font-size: 35px;
  font-weight: 200;
}

span {
  font-size: 20px;
}

.logout,
.changepassword,
.withdrawal {
  margin-bottom: 10px;
}

.MainLoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  border: none;
  border-bottom: 1px solid var(--dark-color);
  color: var(--switch-color);
}

.AddAnswer {
  background-color: transparent;
  outline: none;
  width: 500px;
  height: 500px;
  margin: 10px;
  font-size: 30px;
  font-weight: 200;
  resize: none;
}

.ContentAnswer {
  border-top: 1px solid var(--switch-light-color);
  border-bottom: 1px solid var(--switch-light-color);
  text-align: left;
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
  font-size: 20px;
}

.ContentAnswer.noticeborder {
  border-bottom: 1px solid var(--Button-light-color);
  border-top: 1px solid var(--Button-light-color);
}

.AddStory {
  background-color: transparent;
  outline: none;
  width: 300px;
  height: 400px;
  margin: 10px;
  font-size: 30px;
  font-weight: 200;
  resize: none;
}

.noticeBoardBox {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noticeAddBoxOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
}

.noticeBoardItem {
  border: 1px solid var(--switch-color);
  width: 600px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
}

.noticeBoardItem:hover {
  border: 0.5px solid var(--Button-light-color);
  transform: translateY(-5px);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ItemInfo {
  display: flex;
  align-items: end;
  border-bottom: 1px solid var(--switch-light-color);
}

.ItemInfo.noticeborder {
  border-bottom: 1px solid var(--Button-light-color);
}

.ContentTitle {
  font-size: 40px;
  max-width: 500px;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InfoUser {
  font-size: 18px;
  color: rgba(123, 4, 105, 0.99);
}

.ItemContent {
  max-width: 590px;
}

.ContentStoryInfo {
  float: right;
  width: 100px;
  color: var(--dark-color);
  border: 1px solid var(--switch-light-color);
}

.ContentDle {
  width: 100px;
  float: right;
  color: var(--dark-color);
  border: 1px solid var(--switch-light-color);
}

.ContentDle:hover {
  border: 1px solid red;
  color: red;
}

.ContentDle.noticeborder {
  color: red;
  border: 1px solid red;
}

.Answerbtn {
  width: 100px;
  float: right;
  color: var(--dark-color);
  border: 1px solid var(--switch-light-color);
}

.Answerbtn.noticeborder {
  color: var(--Button-light-color);
  border: 1px solid var(--Button-light-color);
}

.ContentStory {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-size: 30px;
}

.more {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  text-align: left;
  word-break: break-all;
}

.ContentStoryInfo.noticeborder {
  color: var(--Button-light-color);
  border: 1px solid var(--Button-light-color);
}

.noticeBoardItem.noticeborder {
  border: 1px solid var(--Button-light-color);
  color: var(--Button-light-color);
}

.InfoUser.noticeborder {
  color: var(--Button-light-color);
}

.pageStateContainer {
  display: flex;
}

.pageStateContainer > button {
  border: none;
  border-radius: 50%;
  width: 40px;
  font-size: 20px;
  margin: 15px;
  height: 40px;
}

.pageStateContainer > button:hover {
  background: transparent;
  border: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.pageStateContainer > button:active {
  transform: translateY(3px);
}

button:active {
  transform: translateY(3px);
  box-shadow: none;
}

.pageState {
  font-size: 20px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
